@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #3d348b;
  color: #ffff;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.display-5 {
  font-size: 5rem;
}

.display-4 {
  font-size: 4rem;
}

.display-3 {
  font-size: 3rem;
}

.display-2 {
  font-size: 2rem;
}

.display-1 {
  font-size: 1.5rem;
}

.h-100vh {
  height: 100vh;
}

.d-block {
  display: block;
}

.my-1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.my-2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.my-3 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.btn {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px 8px 12px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 13px;
}

.btn-primary {
  background-color: #f18701;
}

.btn-block {
  display: block;
  width: 100%;
}

.all-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setting-form {
  margin-top: 12px;
  width: 100%;
}

.inline-form {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}
.inline-form .select-container {
  width: 50%;
}

.inline-form .select-container:first-child {
  margin-right: 5px;
}

.card {
  border-radius: 10px;
  padding: 1.5rem;
  color: rgb(44, 44, 44);
}

.alert {
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
}

.bg-white {
  background-color: #fff;
  color: #000000;
}

.bg-alert {
  background-color: #f35b04;
  color: #fff;
}

.choices-container {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0 15px 0;
}

.choices-container-multiple {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 15px 0 15px 0;
}

.score-container {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Custom Select Box */
.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  height: 40px;
  line-height: 60px;
  background: #7678ed;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 0px 0px 10px 10px;
  background: #7678ed;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  overflow: auto;
  max-height: 200px;
}

.custom-option:last-child {
  border-radius: 0px 0px 10px 10px;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #4c4d97;
}
.custom-option.selected {
  color: #ffffff;
  background-color: #f7b801;
}

.arrow {
  position: relative;
  height: 10px;
  width: 15px;
}
.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  right: 15px;
  transition: all 0.5s;
}
.arrow::before {
  left: 23px;
  transform: rotate(45deg);
  background-color: #fff;
}
.arrow::after {
  left: 17px;
  transform: rotate(-45deg);
  background-color: #fff;
}
.open .arrow::before {
  left: 23px;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: 17px;
  transform: rotate(45deg);
}

.revert {
  border-radius: 10px 10px 0 0;
}
/* Animations */

.slideInUp {
  animation: titleUp 0.5s ease forwards;
  opacity: 0;
}

.slideInLeft {
  animation: titleLeft 0.5s ease forwards;
  opacity: 0;
}

.animation-delay-1 {
  animation-delay: 0.1s;
}

.animation-delay-2 {
  animation-delay: 1s;
}

.animation-delay-3 {
  animation-delay: 2s;
}

.fadeIn {
  animation: fade-In 1s ease forwards;
  opacity: 0;
}

/* Keyframes */

@keyframes fade-In {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes titleUp {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes titleLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
